@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


body {
    font-family: 'Red Hat Display', sans-serif;
    
}

.outer-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-summary {
    font-weight: 900;
    font-size: 28px;
    color: hsl(223, 47%, 23%);
}

.description {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: hsl(224, 23%, 55%);
}

.plan {
    display: flex;
    background-color: hsl(225, 100%, 98%);
    width: 350px;
    padding: 12px;
}

.music-icon {
    display: flex;
}

.annual-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
    
    
}